!!! Strict
%html
  -# current page reference (StaticMaitc)
  - current = current_page #
  -# current page name stripped of path and ".html"
  - @tag = File.basename(current, ".html")
  -# extract page name's first character: x_pagename; use that for tertiary menu; irrelevant if no tertiary
  - @sub = @tag[0,1]
  =partial('head-partial', :locals => { :location => @tag })
  %body#page
    =partial('topnav-partial', :locals => { :location => @tag })
    =partial('logonav-partial', :locals => { :location => @tag })
    =partial('banner-partial', :locals => { :location => @tag })
    .element_wrapper
      .side
        =partial('tertiarynav-partial', :locals => { :location => @tag, :sub => @sub})
      .main
        %h2 SNC Membership Listing
        %p Sign in to access the member ship demographics.
        %p To be implemented

    =partial('footer-partial')
