-# current page reference
-# current = current_page #
-# current page name stripped of path and ".html"
-# tag = File.basename(current, ".html")
-# first-character prefix; use that for tertiary menu
-# sub = tag[0,1]
