%a.thumbnail{:href => "images/#{photoname}full.jpg", :target => "_blank"}
  %img{:src => "images/#{photoname}thumb.jpg", :alt => ""}/
  %span
    %img{:src => "images/#{photoname}mid.jpg", :alt => ""}/
    To open a full-sized picture in a new window<br>click the thumbnail.
